blog/.htaccess
blog/wp-*.php
blog/xmlrpc.php
blog/wp-admin/
blog/wp-includes/
blog/wp-content/uploads/
blog/wp-content/blogs.dir/
blog/wp-content/upgrade/*
blog/wp-content/backup-db/*
blog/wp-content/advanced-cache.php
blog/wp-content/wp-cache-config.php
blog/wp-content/cache/*
blog/wp-content/cache/supercache/*
blog/sitemap.xml
blog/sitemap.xml.gz
blog/readme.html
blog/license.txt
blog/*
blog